In [1]:
import pandas as pd

## Veri setinin okunması

In [2]:
file_path = "C:/Users/Sinan/Desktop/elektriktuketim_data.csv"
columns_to_use = ["date", "hour", "store_id", "imwh"]

# Read the CSV file with all columns
full_df = pd.read_csv(file_path, sep=",")

# Display the first few rows to check column names
print(full_df.head())

   2022-06-05  19  2007  120.82733
0  2022-06-05   7  6193   56.28347
1  2022-06-05  10  1012  104.77353
2  2022-06-05   6  1096   89.07027
3  2022-06-05  11  3604  152.54100
4  2022-06-05  22   318  125.04532

In [3]:
print(full_df.columns)

Index(['2022-06-05', '19', '2007', '120.82733'], dtype='object')

In [4]:
file_path = "C:/Users/Sinan/Desktop/elektriktuketim_data.csv"
columns_to_use = ["date", "hour", "store_id", "imwh"]

# Read the CSV file with specified column names and skip the first row
df = pd.read_csv(file_path, sep=",", header=None, names=columns_to_use, skiprows=1)

# Display the first few rows to verify the DataFrame
print(df.head())

         date  hour  store_id       imwh
0  2022-06-05     7      6193   56.28347
1  2022-06-05    10      1012  104.77353
2  2022-06-05     6      1096   89.07027
3  2022-06-05    11      3604  152.54100
4  2022-06-05    22       318  125.04532

## Filtreleme işlemleri
Mağaza id'sine göre magaza verilerinin alınması:

In [5]:
#magaza id'leri : 282,318,911,1012,1096,1922,2007,2177,3604,6193

magaza_282_data =  df[df["store_id"] == 282]
magaza_282_data

           date  hour  store_id      imwh
12   2022-06-05    22       282  45.50200
13   2022-06-05     4       282  30.33747
17   2022-06-05    11       282  53.77514
29   2022-06-05    14       282  53.49546
39   2022-06-05    20       282  56.56680
52   2022-06-05    16       282  52.19456
83   2022-06-05    21       282  52.07381
85   2022-06-05    12       282  55.32460
96   2022-06-05    10       282  55.88620
97   2022-06-05     0       282  35.50907
104  2022-06-05     2       282  30.18487
117  2022-06-05    15       282  52.93817
129  2022-06-05     3       282  29.05380
176  2022-06-05    19       282  55.32580
185  2022-06-05    23       282  33.87973
195  2022-06-05    18       282  51.56978
203  2022-06-05     6       282  29.86673
205  2022-06-05     9       282  52.37020
207  2022-06-05     5       282  30.65119
213  2022-06-05     8       282  54.72253
219  2022-06-05     7       282  47.21779
220  2022-06-05     1       282  30.98254
222  2022-06-05    17       282  53.11455
223  2022-06-05    13       282  53.77840

Saate göre sıralama:

In [6]:
magaza_282_data = magaza_282_data.sort_values(by="hour")
magaza_282_data

           date  hour  store_id      imwh
97   2022-06-05     0       282  35.50907
220  2022-06-05     1       282  30.98254
104  2022-06-05     2       282  30.18487
129  2022-06-05     3       282  29.05380
13   2022-06-05     4       282  30.33747
207  2022-06-05     5       282  30.65119
203  2022-06-05     6       282  29.86673
219  2022-06-05     7       282  47.21779
213  2022-06-05     8       282  54.72253
205  2022-06-05     9       282  52.37020
96   2022-06-05    10       282  55.88620
17   2022-06-05    11       282  53.77514
85   2022-06-05    12       282  55.32460
223  2022-06-05    13       282  53.77840
29   2022-06-05    14       282  53.49546
117  2022-06-05    15       282  52.93817
52   2022-06-05    16       282  52.19456
222  2022-06-05    17       282  53.11455
195  2022-06-05    18       282  51.56978
176  2022-06-05    19       282  55.32580
39   2022-06-05    20       282  56.56680
83   2022-06-05    21       282  52.07381
12   2022-06-05    22       282  45.50200
185  2022-06-05    23       282  33.87973

Büyüktür küçüktür işlemleri:

In [7]:
threshold_data = magaza_282_data[magaza_282_data["imwh"] > 55]
threshold_data

           date  hour  store_id     imwh
96   2022-06-05    10       282  55.8862
85   2022-06-05    12       282  55.3246
176  2022-06-05    19       282  55.3258
39   2022-06-05    20       282  56.5668

In [8]:
def getThresholds(store_id, upper_limit):

    # Mağaza id'sine göre mağaza verilerinin alınması
    magaza_data = df[df["store_id"] == store_id]

    # Saate göre sıralama
    magaza_data = magaza_data.sort_values(by="hour")

    # Büyüktür küçüktür işlemleri
    threshold_data = magaza_data[magaza_data["imwh"] > upper_limit]

    # Sütunları yeniden düzenleme
    threshold_data = threshold_data[["date", "hour", "store_id", "imwh"]]

    return threshold_data

In [43]:
store_id = 318
upper_limit = 250
threshold_data = getThresholds(store_id, upper_limit)
print("Eşik değeri aşılan veriler:")
print(threshold_data)

Eşik değeri aşılan veriler:
           date  hour  store_id       imwh
94   2022-06-05    11       318  253.27924
28   2022-06-05    12       318  253.74779
229  2022-06-05    13       318  263.14138
225  2022-06-05    14       318  251.56834
173  2022-06-05    15       318  263.75344
40   2022-06-05    16       318  270.13908
34   2022-06-05    17       318  256.78017

# Test Mangodb

In [10]:
pip install pymongo

Collecting pymongo
  Obtaining dependency information for pymongo from https://files.pythonhosted.org/packages/4d/c1/b061908548cf0561b0aa854ed8392b5169eba9ab2a1a0b56cd8c3dca58d4/pymongo-4.4.1-cp39-cp39-win_amd64.whl.metadata
  Downloading pymongo-4.4.1-cp39-cp39-win_amd64.whl.metadata (9.2 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Obtaining dependency information for dnspython<3.0.0,>=1.16.0 from https://files.pythonhosted.org/packages/f6/b4/0a9bee52c50f226a3cbfb54263d02bb421c7f2adc136520729c2c689c1e5/dnspython-2.4.2-py3-none-any.whl.metadata
  Downloading dnspython-2.4.2-py3-none-any.whl.metadata (4.9 kB)
Downloading pymongo-4.4.1-cp39-cp39-win_amd64.whl (408 kB)
   ---------------------------------------- 408.2/408.2 kB 2.3 MB/s eta 0:00:00
Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
   ---------------------------------------- 300.4/300.4 kB 9.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.4.1
Note: you may need to restart the kernel to use updated packages.

In [11]:
from pymongo import MongoClient

In [12]:
client = MongoClient("mongodb+srv://sinanhacisoyu:test@cluster1.yk8fokk.mongodb.net/?retryWrites=true&w=majority")

In [13]:
db = client.get_database('main_db')

In [14]:
records = db.main_records

In [26]:
#Count documents
records.count_documents({})

1

In [27]:
#Create new document
new_data = {
    'date': '2022-06-05',
    'hour': 10,
    'store_id': 2824,
    'imwh': 55.8862
}

In [28]:
records.insert_one(new_data)

In [29]:
new_datas =[ 
    {
    'date': '2022-06-05',
    'hour': 10,
    'store_id': 2825,
    'imwh': 55.8862
    },
    {
    'date': '2022-06-05',
    'hour': 10,
    'store_id': 2826,
    'imwh': 55.8862
    }
]

In [30]:
records.insert_many(new_datas)

In [31]:
#Find documents

In [32]:
list(records.find())

[{'_id': ObjectId('64dd0c3af7342fb8786d35f1'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 2823,
  'imwh': 55.8862},
 {'_id': ObjectId('64dd13541226efa85cbc0500'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 2824,
  'imwh': 55.8862},
 {'_id': ObjectId('64dd13581226efa85cbc0501'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 2825,
  'imwh': 55.8862},
 {'_id': ObjectId('64dd13581226efa85cbc0502'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 2826,
  'imwh': 55.8862}]

In [33]:
records.find_one({'store_id': 2825})

{'_id': ObjectId('64dd13581226efa85cbc0501'),
 'date': '2022-06-05',
 'hour': 10,
 'store_id': 2825,
 'imwh': 55.8862}

In [39]:
#Update documents

In [40]:
main_updates = {
    'imwh': 65.8862
}

In [41]:
records.update_one({'store_id': 2825}, {'$set': main_updates})

In [ ]:
#Delete documents

In [ ]:
records.delete_one({'store_id': 2826})

# The results written to collection in mongoDB

In [42]:
#Count documents
records.count_documents({})

4

In [46]:
#Insert our datas
#store_id = 318
#upper_limit = 250
new_datas = [
    {
        'date': '2022-06-05',
        'hour': 11,
        'store_id': 318,
        'imwh': 253.27924
    },
    {
        'date': '2022-06-05',
        'hour': 12,
        'store_id': 318,
        'imwh': 253.74779
    },
    {
        'date': '2022-06-05',
        'hour': 13,
        'store_id': 318,
        'imwh': 263.14138
    },
    {
        'date': '2022-06-05',
        'hour': 14,
        'store_id': 318,
        'imwh': 251.56834
    },
    {
        'date': '2022-06-05',
        'hour': 15,
        'store_id': 318,
        'imwh': 263.75344
    },
    {
        'date': '2022-06-05',
        'hour': 16,
        'store_id': 318,
        'imwh': 270.13908
    },
    {
        'date': '2022-06-05',
        'hour': 17,
        'store_id': 318,
        'imwh': 256.78017
    }
]

In [47]:
records.insert_many(new_datas)

In [48]:
#Count documents
records.count_documents({})

11

In [49]:
#Find documents
list(records.find())

[{'_id': ObjectId('64dd0c3af7342fb8786d35f1'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 2823,
  'imwh': 55.8862},
 {'_id': ObjectId('64dd13541226efa85cbc0500'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 2824,
  'imwh': 55.8862},
 {'_id': ObjectId('64dd13581226efa85cbc0501'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 2825,
  'imwh': 65.8862},
 {'_id': ObjectId('64dd13581226efa85cbc0502'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 2826,
  'imwh': 55.8862},
 {'_id': ObjectId('64dd18331226efa85cbc0503'),
  'date': '2022-06-05',
  'hour': 11,
  'store_id': 318,
  'imwh': 253.27924},
 {'_id': ObjectId('64dd18331226efa85cbc0504'),
  'date': '2022-06-05',
  'hour': 12,
  'store_id': 318,
  'imwh': 253.74779},
 {'_id': ObjectId('64dd18331226efa85cbc0505'),
  'date': '2022-06-05',
  'hour': 13,
  'store_id': 318,
  'imwh': 263.14138},
 {'_id': ObjectId('64dd18331226efa85cbc0506'),
  'date': '2022-06-05',
  'hour': 14,
  'store_id': 318,
  'imwh': 251.56834},
 {'_id': ObjectId('64dd18331226efa85cbc0507'),
  'date': '2022-06-05',
  'hour': 15,
  'store_id': 318,
  'imwh': 263.75344},
 {'_id': ObjectId('64dd18331226efa85cbc0508'),
  'date': '2022-06-05',
  'hour': 16,
  'store_id': 318,
  'imwh': 270.13908},
 {'_id': ObjectId('64dd18331226efa85cbc0509'),
  'date': '2022-06-05',
  'hour': 17,
  'store_id': 318,
  'imwh': 256.78017}]